/* Global Styles */
*{
  margin:0;
  padding:0;
}
h1 {
  color: #369;
}
h2, h3 {
  color: #444;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
img{
  width: 90%;
  padding: 5%;
}
body{
  background-color: #ededed;
  font-family: sans-serif;
}

.row{
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.col-md-12{
 float: left;
}
.card{
  margin: 7.5px 7.5px;
  border-radius: 4px;
  background-color: #fff;
  padding: 15px;
}

.widthControl{
  width: auto;
}
@media only screen and (max-width: 700px) {
  .col-md-12{
      width: 100%;
  }
  footer{
      flex-direction: column !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 1024px) { 
  .col-md-12{
      width: 50%;
   }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {     
  .col-md-12{
      width: 25%;
   }
   .widthControl{
      display: flex;
      flex-direction: row;
  }
}
@media only screen and (min-width: 1441px) {
  .col-md-12{
      width: 25%;
   }
   .container{
    width: 1440px !important;
   }
}